/*

*****************************************************************************

Title:  Style sheet

Use:  Sets parameters for website design.

Author:  Wendy Dawson

School/Term:  University of Missouri, Spring 2020

Developed: April 8, 2020

Tested:  May 7, 2020; Passed on Firefox and Chrome browsers.

******************************************************************************

        */
* {font-family: "roboto", sans-serif;}

/*style for header*/
header {border-top: 3px solid #00E6E6;
    background-color: #268080;
    border-bottom: 6px solid #332F2E; text-align: center;
    position: relative;
    width: 100%;}
h1 {margin-bottom: 0;
    padding: 20px;
    background-color: whitesmoke;
    color: #332F2E; 
    font-size: 3em;
    font-family: "Roboto", sans-serif;}

/*style for body section*/
body {background-color: whitesmoke;}
body {margin:auto;}
main {border-bottom: 6px solid #332F2E; padding: 20px;}
h3 {color: #339966; font-size: 1.5em;}
p {font-family: "Lato", sans-serif;
    line-height: 1.4em;}
footer {clear: both; 
    font-size: 10pt; 
    color: white; 
    text-align: center;
    border-top: 20px solid #268080;
    border-bottom: 6px solid #332F2E; 
    position: relative;
    height: 170px;
    width: 100%;}
footer a {text-decoration: none;}
img#phone {background-color: white;padding: .10em;border-radius: 5em;}
img#envelope {background-color: white;padding: .3em;border-radius: 5em;}
#phone:hover {transform: scale(2);}
#envelope:hover {transform: scale(2);}
#resumepg {background-image:url(images/libbooks2.png);
    background-repeat:no-repeat;
    background-size: cover;
    min-height:100%;}

/*home page styles*/
h1.myname {font-family: "Kaushan Script", cursive;}
figure#image {float: left; 
    padding: 20px; 
    margin: 20px 40px 20px 20px;
    text-align: center;
    background-color: #332F2E; 
    border: 3px solid #00E6E6;
    border-radius: 2em;}    
#img1 {border-radius: 2em;
    margin: 20px 20px 0 20px;
    border: 3px solid #00E6E6;}
#figcap1 {display: block;
    font-size: 1em;
    color: whitesmoke;
    text-align:center;
    line-height: 1.4em;
    padding-top: 1em;}
div#aboutMe {padding: 20px;}
h3#about {font-family: "Kaushan Script", cursive;}
#paragraph1 {line-height: 2em;}
#degrees {width: 500px;
    margin-left: 50px;}
#edu {text-align: center;}
#educ {column-count: 2;
    column-gap: 35px;
    column-rule: 2px solid #332F2E;}
.school {list-style: none;
    padding: 10px;
    text-align: center;}
#library {text-align: center;padding: 20px;}
#now {color: #339966;}

/*resume page styles*/
figure.video {margin: auto;
    text-align: center;}
#vid1 {border-radius: 2em;}
#Benj {font-size: 1em; text-align: center;padding-top: .25em;}

/*background page styles*/
#intro {padding: 2em;}
#myintro {line-height: 2em;}
#practicum {margin: 0 3em 0 3em; padding: 2em 5em 2em 5em;
    border: 1px solid #332F2E;
    border-radius: 2em;}
#flex {display: flex;
    flex-direction: row;
    padding: 2em;}
#reqcourse, .table-scroller {margin: 1em;}
#req {text-align: center;}
ul.b {list-style-type: circle; line-height: 1.4em;}
ul.a {line-height: 1.4em;}
li.smile {list-style-type: circle;}
#credit {padding: 2em;}
#sislt {color: black;
    text-decoration: none}
#sislt:hover {color: #268080;}
/*style for background table*/
table {border-collapse: collapse;
    border: 2px solid #332F2E;}
#Headrow, #Lastrow {background-color: #268080;}
#Headrow {border-bottom: 1px solid #332F2E;}
th, td {padding: .2em .7em;
    line-height: 1.4em;
    text-align: left;}
tbody tr:nth-last-of-type(odd) {background-color: #332f2e0b;
    border-bottom: 1px solid #332F2E;}

/*projects page styles*/
#projpg {margin:auto; padding: 0;}
#section1 {padding: 5em 10em 5em 10em;}
#project1 {line-height: 1.5em;}
#section2 {padding: 5em 10em 5em 10em;background-color: #332f2e0b;}
#project2 {text-align: center; line-height: 1.5em;}
#section3 {padding: 5em 10em 5em 10em;}
#project3 {text-align: center; line-height: 1.5em;}
.projs {line-height: 2em;}
.art {padding-bottom: 1em;}
a.scholarly {margin: 2em;
    padding: 10px;
    background-color: #332F2E;
    border-radius: 2em;
    text-align: center;
    text-decoration: none;}
a.scholarly:link {color: white;}
a.scholarly:active {color: aqua;}
a.scholarly:hover {color: aqua;}

/*reflection page styles*/
main.samebox {margin: auto;
    padding: 2em;}
#reflection {padding: 20px;
    column-count: 2;
    column-gap: 50px;
    column-rule: 2px solid #332F2E;}
#pro, #prof {padding: 1em;}
.reflect, .reflect2 {line-height: 2em;
    text-indent: 2em;}

/*contact page styles*/
main.contactMain {margin:auto;
    padding: 0 4em 0 4em;
    height: 700px;}
figure#image2 {float: left; 
    padding: 20px; 
    margin: 2em;}
#img2 {border-radius: 2em;
    margin: 20px;
    border: 3px solid #332F2E;}
.contact1 {float: left; padding: 2em;}
/*style for contact form*/
label {float: left;
    width: 6em;}
input, #textarea {margin-left: 2em;
    margin-bottom: 1em;}
textarea {height: 10em; width: 20em; font-family: "Lato", sans-serif;}
h3#ecall {text-align: center;}
#button1 {margin-left: 9em;
    padding: 10px 20px 10px 20px; 
    background-color: #332F2E; 
    border-radius: 2em; 
    text-align: center; 
    color: white;}
#button1:active {color: aqua;}
#button1:hover {color: aqua;}
#button2 {margin-left: 1em;
    padding: 10px 20px 10px 20px; 
    background-color: #332F2E; 
    border-radius: 2em; 
    text-align: center; 
    color: white;}
#button2:active {color: aqua;}
#button2:hover {color: aqua;}
p.contactinfo {padding: 10px 20px 10px 20px;}
a.link {margin-left: 5em;padding: 10px 20px 10px 20px; background-color: #332F2E; border-radius: 2em; text-align: center; color: white;text-decoration: none;}



#link {text-decoration: none; font-size: 10pt;}
#link:link {color: white;}
#link:visited {color: fuchsia;}
#link:active {color: fuchsia;}
#link:hover {color: aqua;}
#link:focus {color: fuchsia;}

@media screen and (max-width:800px) {
    .scholarly {display: block;
        padding:0;
        width: 150px;}
    #section1 {padding: 5em 2em 5em 2em;}
    #section2 {padding: 5em 2em 5em 2em;}
    #section3 {padding: 5em 2em 5em 2em;}
    figure#image2 {clear:left;padding: 0;margin: 0;}
    .contact1 {clear:left;}
    textarea {height: 10em; width:10em;}
    .contactMain {border-bottom: none;}
}

@media screen and (max-width:640px) {
    figure#image {clear: left;}
    div {clear: left; width: 90%; padding:20px;}
    #educ {column-count: 1;}
    #phone, #envelope {display: none;}
    #vid1 {width: 300px; text-align: left;}
    #flex {display: block;}
    #practicum {width:90%;padding: 0;border: none;}
    .table-scroller, #myTable {overflow: scroll;
        width: 440px;}
    #reflection {column-count: 1;}
    .contact1 {width: 400px;}
}

@media screen and (max-width:320px) {body {width:320px;}
}

@media print {
    *{background: transparent !important;
    color: #000 !important;}
    main, main p, main p.paragraph, blockquote, main p ul li, footer {font-family: "Georgia", serif;}
    nav {margin: 0; padding:0; display: none;}
    nav ul li {display: none;}
    header {border-top: none;margin:0; padding: 0;}
    @page {margin: .5cm;}
    @page :first {margin-top: 2cm;}
    section#purpose {display: none;}
    h3 {margin:0; padding: 10px;}
    .paragraph {margin: 0; padding:20px;}
    div.open {margin: 20px;}
    blockquote {margin: 0;padding-bottom: 20px;}
    #resumepg {border: none; display:none;}
    main {border-bottom: none;}
}
