h1 {color: #006666; font-size: 3em; font-family: "Helvetica", sans-serif; background-color: powderblue; border: 3px solid black;}
body {background-color: whitesmoke;}
h3 {color: #339966; font-size: 1.5em; clear: left;}
h3+p {margin-left: 2em; clear: left;}
#img1 {float: left; padding: 20px; margin: 20px;}
.paragraph {font-family: "Lato", sans-serif;}
#now {color: #336699;}
#future {color: #993333;}
footer {font-size: 10pt;}
footer {border-top: 3px solid #000000;}
a:link {color: blue;}
a:hover {color: aqua;}
a:focus {color: aqua;}
a:visited {color: fuchsia;}
a:focus {color: fuchsia;}
a {text-decoration: none; font-size: 10pt;}